body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aed6f1; /* Light blue background */
}

.container {
    display: flex; /* Display as a flex container */
    align-items: center; /* Vertically center content */
    background-color: #FFFFFF; /* White container background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px; /* Increased padding for more space */
    position: absolute; /* Position absolutely relative to the nearest positioned ancestor */
    top: 20px; /* Distance from the top of the viewport */
    left: 20px; /* Distance from the left of the viewport */
}

.header {
    flex: 2; /* Take up 2/3 of the container width */
    margin-left: 20px; /* Add spacing between profile picture and bio */
}

h1 {
    color: #2980b9; /* Dark blue heading color */
}

.bio {
    color: #154360; /* Navy blue bio text color */
    font-style: italic;
    margin-top: 10px; /* Add margin to create space below the heading */
}

.profile-picture {
    flex: 1; /* Take up 1/3 of the container width */
    position: relative; /* Position relative to allow absolute positioning of the image */
    width: 150px; /* Increase the width of the profile picture */
    height: 150px; /* Increase the height of the profile picture */
    border: 5px solid #2980b9; /* Blue border */
    border-radius: 50%; /* Rounded border for circular shape */
    overflow: hidden; /* Hide overflow for perfect circle */
}

.profile-picture img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 40%; /* Rounded shape for image (same as container) */
}

